apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - ../../base/home-assistant
  - backup-sealed-secret.yaml
  - backup-schedule.yaml
  - restic-sealed-secret.yaml
patches:
  - patch: |-
      apiVersion: networking.k8s.io/v1
      kind: Ingress
      metadata:
        name: home-assistant
        namespace: home-assistant
        annotations:
          cert-manager.io/cluster-issuer: letsencrypt-production
      spec:
        ingressClassName: nginx
        rules:
        - host: home-assistant.ereslibre.net
          http:
            paths:
            - pathType: Prefix
              path: /
              backend:
                service:
                  name: home-assistant
                  port:
                    name: http
        tls:
        - hosts:
          - home-assistant.ereslibre.net
          secretName: home-assistant-ereslibre-net-cert
    target:
      kind: Ingress
      name: home-assistant
      namespace: home-assistant
  - patch: |-
      apiVersion: v1
      kind: ConfigMap
      metadata:
        name: configurations
        namespace: home-assistant
      data:
        configuration.yaml: |
          # Loads default set of integrations. Do not remove.
          default_config:

          # Enable API
          api:

          # pinfra specific settings
          http:
            use_x_forwarded_for: true
            trusted_proxies:
              - 10.0.0.0/8
            ip_ban_enabled: false
            login_attempts_threshold: 5

          # mDNS reflector: tell homekit the advertise IP address
          homekit:
            advertise_ip: "10.0.4.31"

          media_player:
            - platform: kef
              host: "10.0.1.37"
              type: LSX
              name: Salón
              maximum_volume: 1
              volume_step: 0.05

          shell_command:
            govee_on: |-
              echo -n '{"msg": {"cmd": "turn", "data": {"value": true}}}' | nc -w1 -u 10.0.1.179 4003
            govee_off: |-
              echo -n '{"msg": {"cmd": "turn", "data": {"value": false}}}' | nc -w1 -u 10.0.1.179 4003

          switch:
            - platform: template
              switches:
                govee:
                  unique_id: govee_light
                  friendly_name: "Govee Light"
                  turn_on:
                    service: shell_command.govee_on
                  turn_off:
                    service: shell_command.govee_off

          mqtt:
            sensor:
              - name: CO2
                object_id: office_air_monitor_co2
                device_class: carbon_dioxide
                unit_of_measurement: "ppm"
                state_topic: "homeassistant/qingping/582D34701BA9/up"
                value_template: >-
                  {{ value_json.sensorData.0.co2.value
                    if value_json.type=="17" else this.state }}
                availability:
                  - topic: "homeassistant/qingping/582D34701BA9/up"
                    payload_available: "true"
                    payload_not_available: "false"
                    value_template: >-
                      {{ "true" if value_json else "false" }}
                device:
                  identifiers: ["582D34701BA9"]
                  name: "Monitor de aire"
                  model: "CGS1"
                  manufacturer: "qingping"
                unique_id: 9a0db1bc69a41507a757c5d222d4a845dc244d82
              - name: PM2.5
                object_id: office_air_monitor_pm25
                device_class: pm25
                state_topic: "homeassistant/qingping/582D34701BA9/up"
                value_template: >-
                  {{ value_json.sensorData.0.pm25.value
                    if value_json.type=="17" else this.state }}
                unit_of_measurement: "µg/m³"
                availability:
                  - topic: "homeassistant/qingping/582D34701BA9/up"
                    payload_available: "true"
                    payload_not_available: "false"
                    value_template: >-
                      {{ "true" if value_json else "false" }}
                device:
                  identifiers: ["582D34701BA9"]
                  name: "Monitor de aire"
                  model: "CGS1"
                  manufacturer: "qingping"
                unique_id: b7e9459ef047905d96918d8e247b0c3dd61b7cc8
              - name: PM10
                object_id: office_air_monitor_pm10
                device_class: pm10
                unit_of_measurement: "µg/m³"
                state_topic: "homeassistant/qingping/582D34701BA9/up"
                value_template: >-
                  {{ value_json.sensorData.0.pm10.value
                    if value_json.type=="17" else this.state }}
                availability:
                  - topic: "homeassistant/qingping/582D34701BA9/up"
                    payload_available: "true"
                    payload_not_available: "false"
                    value_template: >-
                      {{ "true" if value_json else "false" }}
                device:
                  identifiers: ["582D34701BA9"]
                  name: "Monitor de aire"
                  model: "CGS1"
                  manufacturer: "qingping"
                unique_id: 4beba1f55c9fc38b528353a3eeae9df9db9eae0f
              - name: TVOC
                object_id: office_air_monitor_tvoc
                device_class: volatile_organic_compounds
                unit_of_measurement: "mg/m³"
                state_topic: "homeassistant/qingping/582D34701BA9/up"
                value_template: >-
                  {{ (value_json.sensorData.0.tvoc.value / 218.77) | round(3)
                    if value_json.type=="17" else this.state }}
                availability:
                  - topic: "homeassistant/qingping/582D34701BA9/up"
                    payload_available: "true"
                    payload_not_available: "false"
                    value_template: >-
                      {{ "true" if value_json else "false" }}
                device:
                  identifiers: ["582D34701BA9"]
                  name: "Monitor de aire"
                  model: "CGS1"
                  manufacturer: "qingping"
                unique_id: 049dba2512f7e141b094799e308d587b1e199174
              - name: Humedad
                object_id: office_air_monitor_humidity
                device_class: humidity
                state_topic: "homeassistant/qingping/582D34701BA9/up"
                value_template: >-
                  {{ value_json.sensorData.0.humidity.value|round(2)
                    if value_json.type=="17" else this.state }}
                unit_of_measurement: "%"
                availability:
                  - topic: "homeassistant/qingping/582D34701BA9/up"
                    payload_available: "true"
                    payload_not_available: "false"
                    value_template: >-
                      {{ "true" if value_json else "false" }}
                device:
                  identifiers: ["582D34701BA9"]
                  name: "Monitor de aire"
                  model: "CGS1"
                  manufacturer: "qingping"
                unique_id: fca28b722b2d263cdda7906b1f1fda67366c9f42
              - object_id: office_air_monitor_temperature
                name: Temperatura
                device_class: temperature
                unit_of_measurement: "°C"
                state_topic: "homeassistant/qingping/582D34701BA9/up"
                value_template: >-
                  {{ value_json.sensorData.0.temperature.value|round(2)
                      if value_json.type=="17" else this.state }}
                availability:
                  - topic: "homeassistant/qingping/582D34701BA9/up"
                    payload_available: "true"
                    payload_not_available: "false"
                    value_template: >-
                      {{ "true" if value_json else "false" }}
                device:
                  identifiers: ["582D34701BA9"]
                  name: "Monitor de aire"
                  model: "CGS1"
                  manufacturer: "qingping"
                unique_id: c70b69d6dc1ff5ef3c1e86ecca3e547ae11c3c66
              - name: CO2
                object_id: living_room_air_monitor_co2
                device_class: carbon_dioxide
                unit_of_measurement: "ppm"
                state_topic: "homeassistant/qingping/582D3401491F/up"
                value_template: >-
                  {{ value_json.sensorData.0.co2.value
                    if value_json.type=="17" else this.state }}
                availability:
                  - topic: "homeassistant/qingping/582D3401491F/up"
                    payload_available: "true"
                    payload_not_available: "false"
                    value_template: >-
                      {{ "true" if value_json else "false" }}
                device:
                  identifiers: ["582D3401491F"]
                  name: "Monitor de aire"
                  model: "CGS1"
                  manufacturer: "qingping"
                unique_id: 848adb96-7b50-4b7c-a940-6223df7e1168
              - name: PM2.5
                object_id: living_room_air_monitor_pm25
                device_class: pm25
                state_topic: "homeassistant/qingping/582D3401491F/up"
                value_template: >-
                  {{ value_json.sensorData.0.pm25.value
                    if value_json.type=="17" else this.state }}
                unit_of_measurement: "µg/m³"
                availability:
                  - topic: "homeassistant/qingping/582D3401491F/up"
                    payload_available: "true"
                    payload_not_available: "false"
                    value_template: >-
                      {{ "true" if value_json else "false" }}
                device:
                  identifiers: ["582D3401491F"]
                  name: "Monitor de aire"
                  model: "CGS1"
                  manufacturer: "qingping"
                unique_id: 4e7d8563-798f-4313-869d-2b597377fe8f
              - name: PM10
                object_id: living_room_air_monitor_pm10
                device_class: pm10
                unit_of_measurement: "µg/m³"
                state_topic: "homeassistant/qingping/582D3401491F/up"
                value_template: >-
                  {{ value_json.sensorData.0.pm10.value
                    if value_json.type=="17" else this.state }}
                availability:
                  - topic: "homeassistant/qingping/582D3401491F/up"
                    payload_available: "true"
                    payload_not_available: "false"
                    value_template: >-
                      {{ "true" if value_json else "false" }}
                device:
                  identifiers: ["582D3401491F"]
                  name: "Monitor de aire"
                  model: "CGS1"
                  manufacturer: "qingping"
                unique_id: 837ab652-77f8-43a0-9aaa-db3abfad206f
              - name: TVOC
                object_id: living_room_air_monitor_tvoc
                device_class: volatile_organic_compounds
                unit_of_measurement: "mg/m³"
                state_topic: "homeassistant/qingping/582D3401491F/up"
                value_template: >-
                  {{ (value_json.sensorData.0.tvoc.value / 218.77) | round(3)
                    if value_json.type=="17" else this.state }}
                availability:
                  - topic: "homeassistant/qingping/582D3401491F/up"
                    payload_available: "true"
                    payload_not_available: "false"
                    value_template: >-
                      {{ "true" if value_json else "false" }}
                device:
                  identifiers: ["582D3401491F"]
                  name: "Monitor de aire"
                  model: "CGS1"
                  manufacturer: "qingping"
                unique_id: cf70fbfa-31c4-4585-8786-6109342eb24d
              - name: Humedad
                object_id: living_room_air_monitor_humidity
                device_class: humidity
                state_topic: "homeassistant/qingping/582D3401491F/up"
                value_template: >-
                  {{ value_json.sensorData.0.humidity.value|round(2)
                    if value_json.type=="17" else this.state }}
                unit_of_measurement: "%"
                availability:
                  - topic: "homeassistant/qingping/582D3401491F/up"
                    payload_available: "true"
                    payload_not_available: "false"
                    value_template: >-
                      {{ "true" if value_json else "false" }}
                device:
                  identifiers: ["582D3401491F"]
                  name: "Monitor de aire"
                  model: "CGS1"
                  manufacturer: "qingping"
                unique_id: b887856a-22da-424e-8d7b-00b71250630a
              - object_id: living_room_air_monitor_temperature
                name: Temperatura
                device_class: temperature
                unit_of_measurement: "°C"
                state_topic: "homeassistant/qingping/582D3401491F/up"
                value_template: >-
                  {{ value_json.sensorData.0.temperature.value|round(2)
                      if value_json.type=="17" else this.state }}
                availability:
                  - topic: "homeassistant/qingping/582D3401491F/up"
                    payload_available: "true"
                    payload_not_available: "false"
                    value_template: >-
                      {{ "true" if value_json else "false" }}
                device:
                  identifiers: ["582D3401491F"]
                  name: "Monitor de aire"
                  model: "CGS1"
                  manufacturer: "qingping"
                unique_id: dd90764f-d244-4285-9987-36a94b456776

          # Load frontend themes from the themes folder
          frontend:
            themes: !include_dir_merge_named themes

          automation: !include automations.yaml
          script: !include scripts.yaml
          scene: !include scenes.yaml
    target:
      kind: ConfigMap
      name: configurations
      namespace: home-assistant
